*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #DFDFDF;

    li, a, button {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #58697A;
        text-decoration: none;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 3%;
        border-bottom: 3px solid #58697A;
    }

    .navlinks{
        list-style: none;

        .link {
            display: inline-block;
            padding: 0px 20px;
            transition: all 0.3s ease 0s;
        }
    
        .link:hover {
            color: black;
        }
    }
    
    .search {
        width: max-content;
        display: flex;
        align-items: center;
        padding: 14px;
    }
    
    .search-input {
        font-size: 16px;
        font-family: "Inter", sans-serif;
        background: transparent;
        border-radius: 15px;
        padding: 10px;
        outline: none;
        border: 2px solid black;
    }
}

@media (max-width: 320px) {
    .header {
        display: flex;
    }

    .navlinks {
        display: none;
    }

    .search {
        display: none;
    }
}


